:root {
  --primary-color: #006D5B;
  --secondary-color: #41B4A1;
  
  --font-teal-black: #00332A;
  --font-black: #1A1A1A;
  --font-black-variant: #333333;

  --white: #F2F2F2;
  --off-white: #E5E5E5;

  --fz-super-title: 41px;
  --fz-super-subtitle: 33px;
  --fz-title: 26px;
  --fz-subtitle: 20px;
  --fz-text: 16px;
  --fz-subtext: 13px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #00332A;
}
