:root {
  --primary-color: #006D5B;
  --secondary-color: #41B4A1;
  
  --font-teal-black: #00332A;
  --font-black: #1A1A1A;
  --font-black-variant: #333333;

  --white: #F2F2F2;
  --off-white: #E5E5E5;

  --fz-super-title-sm: 26px;
  --fz-super-subtitle-sm: 20px;
  --fz-title-sm: 16px;
  --fz-subtitle-sm: 13px;
  --fz-text-sm: 10px;
  --fz-subtext-sm: 8px;
  
  --fz-super-title: 41px;
  --fz-super-subtitle: 33px;
  --fz-title: 26px;
  --fz-subtitle: 20px;
  --fz-text: 16px;
  --fz-subtext: 13px;

  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;

  ::selection {
    background-color: var(--primary-color);
    color: var(--white);
  }
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}
